body{
    background-color: rgb(50,55,57) !important;
}

.row{
    background-color:rgb(0,18,32) ;
    margin: 100px auto;
    box-shadow:  -3px 0px 20px 4px black;
    padding: 50px 20px 20px 0px;
}

tr{
    border: solid 1px white;
}


textarea{
    padding: 10px 60px 10px 10px;
    border-style: solid;
    border-color: rgb(30,83,118);
    border-radius: 5px;
    background:rgba(30,83, 118, 0.5) ;
    outline: none;
    border-width: 2px;
    margin-bottom: 10px;
    transition: 500ms;
    color:rgba(255,255, 255, 0.5);
}

textarea > text{
    color: white;
}

#txtFita:focus, #txtInstrucoes:focus{
    padding: 10px 80px 10px 10px;
    border-style: solid;
    border-color: rgb(61,230,175);
    border-radius: 5px;
    background:rgba(30,83, 118, 0.5) ;
    outline: none;
    border-width: 2px;
    margin-bottom: 10px;
}
#btnTraduzir:hover{
    background-color: rgb(30,83,118);
    color:rgba(255,255, 255, 0.5);
    border-color: rgb(30,83,118);
}

#txt-title{
    text-align: center;
    color: white;

}

#txt-fita-principal{
    font-weight: bold;
    color: white;
    font-size: 18px;
}

#txt-fita-traduzida{
    font-weight: bold;
    color: white;
    font-size: 18px;
}

#txt-instrucoes{
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.table-instrucoes, .table-traducao, .table-principal{
    color: white;
}

text{
    font-size: 18px;
    color: white;
}

#txtFita{
    margin-left: 25%;
    color: white;
}

#txtInstrucoes{
    margin-left: 25%;
    color: white
}

#txt-fita-principal, #txt-fita-traduzida, #txt-instrucoes, #tb-instrucoes, #tb-fita-principal, #btnTraduzir, #tb-traducao{
    margin-left: 25%;
}